:root {
  font-size: 60%;

  --color-background: #11162A;
  --color-background-top: #172144;
  --color-background-more-top: #2F3857;
  --color-gray-selectors: #242633;

  --color-button-purple-primary: #FB0196;
  --color-button-purple-secondary: #8216C4;

  --color-button-cyan-primary: #42DCE8;
  --color-button-cyan-secondary: #7E87EE;

  --color-button-orange-primary: #F68F70;
  --color-button-orange-secondary: #F86CA8;

  --color-title: #ffffff;
  --color-text-lighter: #b6b3bd;
  --color-text-darker: #262A45;

  --color-pink-base: #E006A5;
  --color-purple-base: #9614D6;
  --color-cyan-base: #6FBEFF;

  --color-pink-base-hover: #E006A566;
  --color-purple-base-hover: #9614D680;
  --color-cyan-base-hover: #6FBEFF66;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-title);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){
  :root {
      font-size: 62.5%;
  }
}